div(ng-include='"components/navbar/navbar.html"')

.jumbotron
  .container
    form.form-horizontal(name='authentication')
      h1.text-center Please scan your card

      input.form-control(type='text', name='id', required, ng-model='barcodeID', autofocus, on-focus)
      button.btn.btn-success(type='submit', ng-click='sendBarcode()', ng-disabled='authentication.$invalid') Submit




footer.footer
  .container
    p
      | © sCOOLbry Welcome 2014
